<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load staticfiles %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    彩蛋
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}
    <div class="card-columns mt-md-2">
        <div class="card">
            <object type="application/x-shockwave-flash" style="outline:none;"
                    data="http://cdn.abowman.com/widgets/dog/dog.swf?3?" width="300" height="225">
                <param name="movie" value="http://cdn.abowman.com/widgets/dog/dog.swf?3?">
                <param name="AllowScriptAccess" value="always">
                <param name="wmode" value="opaque">
                <param name="bgcolor" value="FFFFFF"/>
            </object>
        </div>
        <div class="card">
            <object type="application/x-shockwave-flash" style="outline:none;"
                    data="http://cdn.abowman.com/widgets/newtonscradle/newtonsCradle.swf?" width="300" height="225">
                <param name="movie" value="http://cdn.abowman.com/widgets/newtonscradle/newtonsCradle.swf?">
                <param name="AllowScriptAccess" value="always">
                <param name="wmode" value="opaque">
            </object>
        </div>
        <div class="card">
            <object type="application/x-shockwave-flash" style="outline:none;"
                    data="http://cdn.abowman.com/widgets/hamster/hamster.swf?" width="300" height="225">
                <param name="movie" value="http://cdn.abowman.com/widgets/hamster/hamster.swf?">
                <param name="AllowScriptAccess" value="always">
                <param name="wmode" value="opaque">
            </object>
        </div>
        <div class="card">
            <object type="application/x-shockwave-flash" style="outline:none;"
                    data="http://cdn.abowman.com/widgets/ballclock/ballclock.swf?" width="300" height="220">
                <param name="movie" value="http://cdn.abowman.com/widgets/ballclock/ballclock.swf?">
                <param name="AllowScriptAccess" value="always">
                <param name="wmode" value="opaque">
            </object>
        </div>
        <div class="card">
            <object type="application/x-shockwave-flash" style="outline:none;"
                    data="http://cdn.abowman.com/widgets/turtles/turtle.swf?" width="300" height="200">
                <param name="movie" value="http://cdn.abowman.com/widgets/turtles/turtle.swf?">
                <param name="AllowScriptAccess" value="always">
                <param name="wmode" value="opaque">
                <param name="scale" value="noscale"/>
                <param name="salign" value="tl"/>
            </object>
        </div>
        <div class="card">
            <object type="application/x-shockwave-flash" style="outline:none;"
                    data="http://cdn.abowman.com/widgets/penguins/penguins.swf?" width="300" height="200">
                <param name="movie" value="http://cdn.abowman.com/widgets/penguins/penguins.swf?">
                <param name="AllowScriptAccess" value="always">
                <param name="wmode" value="opaque">
                <param name="scale" value="noscale"/>
                <param name="salign" value="tl"/>
            </object>
        </div>
        <div class="card">
            <object type="application/x-shockwave-flash" style="outline:none;"
                    data="http://cdn.abowman.com/widgets/fish/fish.swf?" width="300" height="200">
                <param name="movie" value="http://cdn.abowman.com/widgets/fish/fish.swf?">
                <param name="AllowScriptAccess" value="always">
                <param name="wmode" value="opaque">
                <param name="scale" value="noscale"/>
                <param name="salign" value="tl"/>
            </object>
        </div>
        <div class="card">
            <object type="application/x-shockwave-flash" style="outline:none;"
                    data="http://cdn.abowman.com/widgets/treefrog/treefrog.swf?" width="300" height="200">
                <param name="movie" value="http://cdn.abowman.com/widgets/treefrog/treefrog.swf?">
                <param name="AllowScriptAccess" value="always">
                <param name="wmode" value="opaque">
                <param name="scale" value="noscale"/>
                <param name="salign" value="tl"/>
            </object>
        </div>
        <div class="card">
            <object type="application/x-shockwave-flash" style="outline:none;"
                    data="http://cdn.abowman.com/widgets/spider/spider.swf?" width="300" height="200">
                <param name="movie" value="http://cdn.abowman.com/widgets/spider/spider.swf?">
                <param name="AllowScriptAccess" value="always">
                <param name="wmode" value="opaque">
                <param name="scale" value="noscale"/>
                <param name="salign" value="tl"/>
                <param name="bgcolor" value=""/>
            </object>
        </div>
        <div class="card">
            <object type="application/x-shockwave-flash" style="outline:none;"
                    data="http://cdn.abowman.com/widgets/discdrop/discDrop.swf?" width="300" height="225">
                <param name="movie" value="http://cdn.abowman.com/widgets/discdrop/discDrop.swf?">
                <param name="AllowScriptAccess" value="always">
                <param name="wmode" value="opaque">
                <param name="bgcolor" value="FFFFFF"/>
            </object>
        </div>
        <div class="card">
            <object type="application/x-shockwave-flash" style="outline:none;"
                    data="http://cdn.abowman.com/widgets/pendulumclock/pendulumClockV2.swf?" width="300" height="200">
                <param name="movie" value="http://cdn.abowman.com/widgets/pendulumclock/pendulumClockV2.swf?">
                <param name="AllowScriptAccess" value="always">
                <param name="wmode" value="opaque">
                <param name="bgcolor" value=""/>
            </object>
        </div>
        <div class="card">
            <object type="application/x-shockwave-flash" style="outline:none;"
                    data="http://cdn.abowman.com/widgets/stingray/stingray.swf?" width="300" height="200">
                <param name="movie" value="http://cdn.abowman.com/widgets/stingray/stingray.swf?">
                <param name="AllowScriptAccess" value="always">
                <param name="wmode" value="opaque">
                <param name="scale" value="noscale"/>
                <param name="salign" value="tl"/>
            </object>
        </div>
    </div>
{% endblock content %}
