<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load staticfiles %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    Cooper's Blog
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}
    <!--suppress ALL -->
    <style>
        .card-columns {
            column-count: 3;
        }
    </style>

    <!-- 定义放置文章标题的div容器 -->
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href={% url 'article:article_order' 'created' %}>
                        最新发布
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href={% url 'article:article_order' 'total_views' %}>
                        最热
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href={% url 'article:article_order' 'updated' %}>
                        最近更新
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href={% url 'article:article_order' 'author_id' %}>
                        作者
                    </a>
                </li>
            </ol>
            <!-- 搜索提示语 -->
            {% if search %}
                {% if articles %}
                    <h4><span style="color: red">"{{ search }}"</span>的搜索结果如下：</h4>
                    <hr>
                {% else %}
                    <h4>暂无<span style="color: red">"{{ search }}"</span>有关的文章。</h4>
                    <hr>
                {% endif %}
            {% endif %}
        </nav>
        <!-- 卡片容器 -->
        <div class="card-columns mt-md-2">
            {% for article in articles %}
                <!-- 文章内容 -->
                <div class="card">
                    <!-- 标题 -->
                    <h4 class="card-header">{{ article.title }}</h4>
                    <!-- 摘要 -->
                    <div class="card-body ">
                        <p class="card-text ">{{ article.body|slice:'100' }}...</p>
                    </div>
                    <!-- 注脚 -->
                    <div class="card-footer">
                        <a href="{% url 'article:article_detail' article.id %}" class="btn btn-primary">阅读本文</a>
                        <span>
                            <small class="col align-self-end" style="color: gray;">
                                浏览: {{ article.total_views }}
                            </small>
                        </span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- 页码导航 -->
    <div class="pagination row">
        <div class="m-auto">
        <span class="step-links">
            <!-- 如果不是第一页，则显示上翻按钮 -->
            {% if articles.has_previous %}
                <a href=?page=1&search={{ search }} class="btn btn-success">
                    &laquo; 首页
                </a>
                <span>...</span>
                <a href=?page={{ articles.previous_page_number }}&search={{ search }} class="btn btn-secondary">
                    {{ articles.previous_page_number }}
                </a>
            {% endif %}

            <!-- 当前页面 -->
            <span class="current btn btn-danger btn-lg">
                {{ articles.number }}
            </span>

            <!-- 如果不是最末页，则显示下翻按钮 -->
            {% if articles.has_next %}
                <a href=?page={{ articles.next_page_number }}&search={{ search }}
                   class="btn btn-secondary"
                >
                    {{ articles.next_page_number }}
                </a>
                <span>...</span>
                <a href=?page={{ articles.paginator.num_pages }}&search={{ search }}
                   class="btn btn-success"
                >
                    尾页（{{ articles.paginator.num_pages }}） &raquo;
                </a>
            {% endif %}
        </span>
        </div>
    </div>
{% endblock content %}
