<!-- extends表明此页面继承自 base.html 文件 -->
{% extends "base.html" %}
{% load staticfiles %}

<!-- 写入 base.html 中定义的 title -->
{% block title %}
    Cooper's Blog
{% endblock title %}

<!-- 写入 base.html 中定义的 content -->
{% block content %}
    <script LANGUAGE="JavaScript">

        var test = ["bg-primary", "bg-secondary", "bg-success", "bg-danger", "bg-warning", "bg-info", "bg-dark"];
        class
        = test[Math.floor(Math.random() * test.length)];
    </script>

    <style>
        .card-columns {

        @include (media-breakpoint-only(lg) {
            column-count: 4;
        }
        @include media-breakpoint-only(xl) {
            column-count: 5;
        }
        }
    </style>
    <!-- 定义放置文章标题的div容器 -->
    <div class="container">
        <div class="card-columns mt-md-2">
            {% for article in articles %}
                <!-- 文章内容 -->
                <div class="card">
                    <!-- 标题 -->
                    <h4 class="card-header">{{ article.title }}</h4>
                    <!-- 摘要 -->
                    <div class="card-body ">
                        <p class="card-text ">{{ article.body|slice:'100' }}...</p>
                    </div>
                    <!-- 注脚 -->
                    <div class="card-footer">
                        <a href="{% url 'article:article_detail' article.id %}" class="btn btn-primary">阅读本文</a>
                    </div>

                    <!-- 卡片容器 -->
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
